# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.venv
env/
venv/
ENV/

# Logs
logs/
*.log

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# VS Code
.vscode/

# PyCharm
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/
